${MOSQUITTO_INTERNAL_USER_USERNAME}:${MOSQUITTO_INTERNAL_USER_PASSWORD_HASH}
dev:$7$101$hlk6Z9fGZgZVs/Zf$Uvg4U5LoS6LoGdmE9i7tbWdthoU89iyhdlzkEs+2KQ8et/EXYGV/eK6ZaLfB09fFTqdJfOtUPbwMBCgMPeV/wA==
sbrunner:$7$101$GGCRx9OcIdzMMrUH$/L1Xo+JA03bkF53aHPeUdv8yMDxVYx+Vg+MdZtpiSSkSsR5dawBd288lz5HXZDT7X6bAgM5yzpNJbbnQoHEpPw==
