${MOSQUITTO_INTERNAL_USERNAME}:${MOSQUITTO_INTERNAL_PASSWORD_HASH}
sbrunner:$7$101$GGCRx9OcIdzMMrUH$/L1Xo+JA03bkF53aHPeUdv8yMDxVYx+Vg+MdZtpiSSkSsR5dawBd288lz5HXZDT7X6bAgM5yzpNJbbnQoHEpPw==
steinzentrale:$7$101$prlbb66+z6WV2uSJ$+Xtq5Gcklc8Od8x21IzrFgB0jJNe74/aJuMwOKbU6DQn9WMXJuF63VaZuyYSeIfH+m1pi+fSlhCPP7XLdyrd6Q==
