---

services:
  docker-socket-proxy:
    restart: always
    image: tecnativa/docker-socket-proxy:v0.4.1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - CONTAINERS=1
      - NETWORKS=1
    privileged: true

  traefik:
    image: "traefik:v3.6.2"
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./logs/traefik:/logs"
      - ./configuration/traefik/traefik.yml:/etc/traefik/traefik.yml
      - ./configuration/traefik/dynamic:/etc/traefik/dynamic
      - ./configuration/traefik/letsencrypt:/letsencrypt
    depends_on:
      - docker-socket-proxy

  chirpstack:
    image: chirpstack/chirpstack:4.15.0
    command: -c /etc/chirpstack
    restart: unless-stopped
    user: ${CHIRPSTACK_UID}:${CHIRPSTACK_GID}
    volumes:
      - ./configuration/chirpstack:/etc/chirpstack
    depends_on:
      - postgresql
      - mosquitto
      - redis
    expose:
      - "8080"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=default"
      - "traefik.http.routers.chirpstack.rule=Host(`${HOST_DOMAIN}`)"
      - "traefik.http.routers.chirpstack.entrypoints=websecure"
      - "traefik.http.routers.chirpstack.tls.certresolver=myresolver"
      - "traefik.http.routers.chirpstack.middlewares=security-headers@file"
    environment:
      - MOSQUITTO_HOST=mosquitto
      - REDIS_HOST=redis
      - POSTGRES_HOST=postgresql
    env_file: .env

  chirpstack-gateway-bridge-eu868:
    image: chirpstack/chirpstack-gateway-bridge:4.1.1
    restart: unless-stopped
    user: ${CHIRPSTACK_UID}:${CHIRPSTACK_GID}
    ports:
      - "1700:1700/udp"
    environment:
      - BACKEND__SEMTECH_UDP__UDP_BIND=0.0.0.0:1700

      - INTEGRATION__MQTT__EVENT_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/event/{{ .EventType }}
      - INTEGRATION__MQTT__STATE_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/state/{{ .StateType }}
      - INTEGRATION__MQTT__COMMAND_TOPIC_TEMPLATE=eu868/gateway/{{ .GatewayID }}/command/#

      - INTEGRATION__MQTT__AUTH__GENERIC__SERVERS=tcp://mosquitto:1883
      - INTEGRATION__MQTT__AUTH__GENERIC__USERNAME=${MOSQUITTO_INTERNAL_USERNAME}
      - INTEGRATION__MQTT__AUTH__GENERIC__PASSWORD=${MOSQUITTO_INTERNAL_PASSWORD}
      - INTEGRATION__MQTT__AUTH__GENERIC__CLIENT_ID=gateway_bridge_eu868
    depends_on:
      - mosquitto

  chirpstack-gateway-bridge-us915:
    image: chirpstack/chirpstack-gateway-bridge:4.1.1
    restart: unless-stopped
    user: ${CHIRPSTACK_UID}:${CHIRPSTACK_GID}
    ports:
      - "1701:1700/udp"
    environment:
      - BACKEND__SEMTECH_UDP__UDP_BIND=0.0.0.0:1700

      - INTEGRATION__MQTT__EVENT_TOPIC_TEMPLATE=us915/gateway/{{ .GatewayID }}/event/{{ .EventType }}
      - INTEGRATION__MQTT__STATE_TOPIC_TEMPLATE=us915/gateway/{{ .GatewayID }}/state/{{ .StateType }}
      - INTEGRATION__MQTT__COMMAND_TOPIC_TEMPLATE=us915/gateway/{{ .GatewayID }}/command/#

      - INTEGRATION__MQTT__AUTH__GENERIC__SERVERS=tcp://mosquitto:1883
      - INTEGRATION__MQTT__AUTH__GENERIC__USERNAME=${MOSQUITTO_INTERNAL_USERNAME}
      - INTEGRATION__MQTT__AUTH__GENERIC__PASSWORD=${MOSQUITTO_INTERNAL_PASSWORD}
      - INTEGRATION__MQTT__AUTH__GENERIC__CLIENT_ID=gateway_bridge_us915
    depends_on:
      - mosquitto

  postgresql:
    image: postgres:14-alpine
    restart: unless-stopped
    user: ${CHIRPSTACK_UID}:${CHIRPSTACK_GID}
    volumes:
      - ./configuration/postgresql/initdb:/docker-entrypoint-initdb.d
      - ./data/postgresql:/var/lib/postgresql/data
      # initdb needs the user it runs as, to exist in /etc/passwd.
      # https://github.com/docker-library/docs/blob/master/postgres/README.md#arbitrary---user-notes
      - /etc/passwd:/etc/passwd:ro
    env_file: .env

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    user: ${CHIRPSTACK_UID}:${CHIRPSTACK_GID}
    command: redis-server --save 300 1 --save 60 100 --appendonly no
    volumes:
      - ./data/redis:/data

  mosquitto:
    image: eclipse-mosquitto:2.0.22
    restart: unless-stopped
    user: ${CHIRPSTACK_UID}:${CHIRPSTACK_GID}
    ports:
      - "1883:1883"
    volumes: 
      - ./configuration/mosquitto/config/:/mosquitto/config/
