name: Deploy Docker Compose Stack to Production

env:
  SERVICE_DIRECTORY: ~/docker/chirpstack

on:
  push:
    branches:
      - main
    # Only run if the docker-compose.yml file changes
    paths:
      - 'compose.yml.template'
      - 'configuration/**'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-slim

    steps:
      # 1. Check out the repository code
      - name: Check out code
        uses: actions/checkout@v4

      # 2. Setup SSH Key
      - name: Set up SSH Key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.PRODUCTION_SSH_KEY }}

      # 3. Add the host key to known_hosts to avoid interactive prompt
      - name: Add host key to known_hosts
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PRODUCTION_HOST_KEY }}" >> ~/.ssh/known_hosts

      # 4. Create directory structure
      - name: Create directory structure
        run: |
          # Create service directory
          ssh ${{ secrets.PRODUCTION_USER }}@${{ secrets.PRODUCTION_HOST_IP }} "mkdir -p  ${{ env.SERVICE_DIRECTORY }}"

          # Create empty directories for persistent data and logs
          ssh ${{ secrets.PRODUCTION_USER }}@${{ secrets.PRODUCTION_HOST_IP }} \
          "mkdir -p \
            ${{ env.SERVICE_DIRECTORY }}/data/postgresql \
            ${{ env.SERVICE_DIRECTORY }}/data/redis \
            ${{ env.SERVICE_DIRECTORY }}/logs/traefik"

      # 5. Populate the .env file with all necessary variables
      - name: Create *.env file
        run: |
          # Overwrite the file here
          echo "PRODUCTION_HOST_DOMAIN=${{ secrets.PRODUCTION_HOST_DOMAIN }}"   > .env

          # Append to the file from here on
          echo "POSTGRES_USER=${{ secrets.PRODUCTION_POSTGRES_USER }}"          >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.PRODUCTION_POSTGRES_PW }}"        >> .env
          echo "POSTGRES_DB=${{ secrets.PRODUCTION_POSTGRES_DB }}"              >> .env

      # 6. Fill in variable placeholders in template files
      - name: Generate config files from templates
        env:
          TRAEFIK_ACME_EMAIL:                 ${{ secrets.TRAEFIK_ACME_EMAIL }}
          HOST_DOMAIN:                        ${{ secrets.PRODUCTION_HOST_DOMAIN }}
          POSTGRES_USER:                      ${{ secrets.PRODUCTION_POSTGRES_USER }}
          POSTGRES_PW:                        ${{ secrets.PRODUCTION_POSTGRES_PW }}
          POSTGRES_DB:                        ${{ secrets.PRODUCTION_POSTGRES_DB }}
          POSTGRES_DB_HOST:                   ${{ secrets.PRODUCTION_POSTGRES_DB_HOST }}
          CHIRPSTACK_API_SECRET:              ${{ secrets.PRODUCTION_CHIRPSTACK_API_SECRET }}
          CHIRPSTACK_UID:                     ${{ secrets.PRODUCTION_CHIRPSTACK_UID }}
          CHIRPSTACK_GID:                     ${{ secrets.PRODUCTION_CHIRPSTACK_GID }}
          MOSQUITTO_INTERNAL_USER_PASSWORD:   ${{ secrets.PRODUCTION_MOSQUITTO_INTERNAL_USER_PASSWORD }}
        run: |
          # Install envsubst tool, because it does not come with ubuntu-slim runner.
          sudo apt-get update && sudo apt-get install -y --no-install-recommends gettext-base

          VARS='
            $TRAEFIK_ACME_EMAIL
            $HOST_DOMAIN
            $POSTGRES_USER
            $POSTGRES_PW
            $POSTGRES_DB
            $POSTGRES_DB_HOST
            $CHIRPSTACK_API_SECRET
            $CHIRPSTACK_UID
            $CHIRPSTACK_GID
            $MOSQUITTO_INTERNAL_USER_PASSWORD
          '
          
          # Use envsubst to replace placeholders in the templates
          envsubst "$VARS" < compose.yml.template \
            > compose.yml
          envsubst "$VARS" < configuration/traefik/traefik.yml.template \
            > configuration/traefik/traefik.yml
          envsubst "$VARS" < configuration/chirpstack/chirpstack.toml.template \
            > configuration/chirpstack/chirpstack.toml
          envsubst "$VARS" < configuration/chirpstack-gateway-bridge/chirpstack-gateway-bridge.toml.template \
            > configuration/chirpstack-gateway-bridge/chirpstack-gateway-bridge.toml

      # 7. Copy configuration files to server
      - name: Copy config files to the server
        run: |
          scp -r configuration compose.yml .env \
          ${{ secrets.PRODUCTION_USER }}@${{ secrets.PRODUCTION_HOST_IP }}:${{ env.SERVICE_DIRECTORY }}/

      # 8. Lock down permissions on sensitive files
      - name: Lock down permissions
        run: |
          ssh ${{ secrets.PRODUCTION_USER }}@${{ secrets.PRODUCTION_HOST_IP }} << 'EOF'
            cd ${{ env.SERVICE_DIRECTORY }}

            # 1. Directories: User only (Read/Write/Enter) - 700
            find ./ -type d -exec chmod 700 {} +

            # 2. Files: User only (Read/Write) - 600
            find ./ -type f -exec chmod 600 {} +

            # 3. Re-enable execution for Shell Scripts - 700
            find . -name "*.sh" -exec chmod 700 {} +
          EOF

      # 9. Deploy on Server via SSH
      - name: Pull images and restart stack
        run: |
          ssh ${{ secrets.PRODUCTION_USER }}@${{ secrets.PRODUCTION_HOST_IP }} << 'EOF'
            cd ${{ env.SERVICE_DIRECTORY }}
            docker compose pull
            docker compose down && docker compose up -d --remove-orphans
          EOF
